.App {
  text-align: center;
}
 
#Film{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color:darkslategrey;
}

.but{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#b{
  background-color: cadetblue;
}
#mb{
inline-size: 750px;
}
#home{
  background-color:black;
  
}
.cc{
background-color:rgb(172, 160, 117);

}
.ddd{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color:darkslategrey;
}
img{
  inline-size: 350px;
}